<!-- HEADER -->
<header class="clearfix header-profile-mentor">
  <common-header></common-header>
  <!-- HEADER END -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-md-offset-5 col-lg-7 col-lg-offset-5">
        <div class="mentor-field">
          <img alt="Icon" src="assets/img/soccer-icon.png">
          <span>PROLIFIC MENTOR</span>
          <div class="nice-border"></div>
          <div class="btn-group btn-group-justified">
            <div class="btn-group nice-border" role="group">
              <button type="button" class="btn">
                <img alt="Icon" src="assets/img/icon-add-user.png">
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn">
                <img alt="Icon" src="assets/img/icon-remove-user.png">
              </button>
            </div>
          </div>
        </div>

        <div class="user-name">ANTONEA COLE</div>

        <div class="user-text">“Eat an apple a day to keep the doctor away.”</div>
      </div>
    </div>
  </div>

  <div class="container container-avatar">
    <div class="profile-mentor-avatar">
      <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
    </div>
  </div>
</header>

<main class="clearfix">
  <div class="container-fluid profile-achievement profile-achievement-mentor">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 hero-box">
            <div class="row hidden-xs hidden-sm row-header">
              <div class="col-xs-12 col-md-2">
                <h4><img alt="Icon" src="assets/img/icon-sm-battery.png">LEVEL</h4>
              </div>

              <div class="col-xs-12 col-md-3">
                <h4><img alt="Icon" src="assets/img/icon-sm-bowl.png">ACHIEVMENT</h4>
              </div>

              <div class="col-xs-12 col-md-4">
                <h4><img alt="Icon" src="assets/img/icon-sm-source.png">RECOMMENDED RESOURCES</h4>
              </div>

              <div class="col-xs-12 col-md-3">
                <h4><img alt="Icon" src="assets/img/icon-sm-university.png">PROFESSION</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-2">
                <h4 class="visible-xs visible-sm"><img alt="Icon" src="assets/img/icon-sm-battery.png">LEVEL</h4>
                <div class="value">10</div>
              </div>

              <div class="col-xs-12 col-md-3">
                <h4 class="visible-xs visible-sm"><img alt="Icon" src="assets/img/icon-sm-bowl.png">ACHIEVMENT</h4>
                <div class="value">EVERYDAY ACHIVER</div>
              </div>

              <div class="col-xs-12 col-md-4">
                <h4 class="visible-xs visible-sm"><img alt="Icon" src="assets/img/icon-sm-source.png">RECOMMENDED RESOURCES</h4>

                <div class="value">
                  <span class="label label-red">ACTIVITY</span>
                  <span class="label label-green">NUTRITION</span>
                  <span class="label label-blue">DISCIPLINE</span>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <h4 class="visible-xs visible-sm"><img alt="Icon" src="assets/img/icon-sm-university.png">PROFESSION</h4>
                <div class="value">TEACHER</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid resources-tabs">
    <div class="row row-nav-tabs">
      <!-- Nav tabs -->
      <div class="container nav nav-tabs text-center" role="tablist">
        <div class="col-xs-4 col-md-4 tab-activity active" role="presentation">
          <a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">
            <img alt="Icon" src="assets/img/icon-tab-activity.png">
            <span class="hidden-xs">ACTIVITY</span>
          </a>
        </div>

        <div class="col-xs-4 col-md-4 tab-nutrition" role="presentation">
          <a href="#nutrition" aria-controls="nutrition" role="tab" data-toggle="tab">
            <img alt="Icon" src="assets/img/icon-tab-nutrition.png">
            <span class="hidden-xs">NUTRITION</span>
          </a>
        </div>

        <div class="col-xs-4 col-md-4 tab-advice" role="presentation">
          <a href="#advice" aria-controls="advice" role="tab" data-toggle="tab">
            <img alt="Icon" src="assets/img/icon-tab-advice.png">
            <span class="hidden-xs">ADVICE</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Tab panes -->
    <div class="row tab-content">
      <div role="tabpanel" class="col-xs-12 tab-pane tab-pane-activity fade in active" id="activity">
        <div class="container">
          <div class="row row-form">
            <form class="">
              <div class="col-xs-12 col-sm-5 m">
                <div class="select">
                  <select class="form-control" name="" id="" data-placeholder="My Activity Was:">
                    <option value="">My Activity Was:</option>
                    <option value="1">Activity1</option>
                    <option value="2">Activity2</option>
                  </select>
                  <div class="arrow"><b></b></div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-5 m">
                <div class="select">
                  <select class="form-control" name="" id="" data-placeholder="My Activity Was:">
                    <option value="">I Did It For:</option>
                    <option value="1">For1</option>
                    <option value="2">For2</option>
                  </select>
                  <div class="arrow"><b></b></div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-2">
                <button type="submit" class="btn btn-blue btn-block">SUBMIT</button>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Choose a file...">
                  <span class="input-group-btn">
                     <span class="btn btn-red btn-file sm">
                        UPLOAD <input type="file">
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Choose a file...">
                  <span class="input-group-btn">
                     <span class="btn btn-red sm">
                        ADD
                    </span>
                  </span>
                </div>
              </div>
            </form>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/soccer-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/soccer-icon.png" class="hidden-lg">
                <span class="">Soccer</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-3">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-cal.png"></a>
                <span class="">Date </span>
                <span class="text-red "> 04/10/2015</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-4">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-clock.png"></a>
                <span class="">Total Time Spent:  </span>
                <span class="text-red "> 2:45:51</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-play.png"></a>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-download.png"></a>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/running-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/running-icon.png" class="hidden-lg">
                <span>Running</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-3">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-cal.png"></a>
                <span class="">Date </span>
                <span class="text-red "> 04/10/2015</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-4">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-clock.png"></a>
                <span class="">Total Time Spent:  </span>
                <span class="text-red "> 2:45:51</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-play.png"></a>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-download.png"></a>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/basketball-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/basketball-icon.png" class="hidden-lg">
                <span class="">Basketball</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-3">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-cal.png"></a>
                <span class="">Date </span>
                <span class="text-red "> 04/10/2015</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-4">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-clock.png"></a>
                <span class="">Total Time Spent:  </span>
                <span class="text-red "> 2:45:51</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-play.png"></a>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-download.png"></a>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/football-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/football-icon.png" class="hidden-lg">
                <span class="">Football</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-3">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-cal.png"></a>
                <span class="">Date </span>
                <span class="text-red "> 04/10/2015</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-4">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-clock.png"></a>
                <span class="">Total Time Spent:  </span>
                <span class="text-red "> 2:45:51</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-play.png"></a>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-1">
                <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-download.png"></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-center">
              <a class="btn btn-blue btn-more text-center" href="#" role="button">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                VIEW MORE
              </a>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="col-xs-12 tab-pane tab-pane-nutrition fade" id="nutrition">
        <div class="container">
          <div class="row row-form">
            <form class="">
              <div class="col-xs-12 col-sm-5 m">
                <div class="select">
                  <select class="form-control" name="" id="" data-placeholder="My Activity Was:">
                    <option value="">I had:</option>
                    <option value="1">Activity1</option>
                    <option value="2">Activity2</option>
                  </select>
                  <div class="arrow"><b></b></div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-5 m">
                <input class="form-control" placeholder="Search......" type="search">
                <i class="fa fa-search"></i>
              </div>

              <div class="col-xs-12 col-sm-2">
                <button type="submit" class="btn btn-red btn-block">SUBMIT</button>
              </div>
            </form>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/oatmeal-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/oatmeal-icon.png" class="hidden-lg">
                <span class="">Oatmeal</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-pie-chart.png"></a>
                  <span class="text-sm">Portion: </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 2/3 Cup</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-calories.png"></a>
                  <span class="text-sm">Calories </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 240</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/juice-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/juice-icon.png" class="hidden-lg">
                <span>Juice</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-pie-chart.png"></a>
                  <span class="text-sm">Portion: </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 2/3 Cup</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-calories.png"></a>
                  <span class="text-sm">Calories </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 240</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/milk-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/milk-icon.png" class="hidden-lg">
                <span class="">Milk</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-pie-chart.png"></a>
                  <span class="text-sm">Portion: </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 2/3 Cup</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-calories.png"></a>
                  <span class="text-sm">Calories </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 240</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/salad-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/salad-icon.png" class="hidden-lg">
                <span class="">Salad</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-pie-chart.png"></a>
                  <span class="text-sm">Portion: </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 2/3 Cup</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-calories.png"></a>
                  <span class="text-sm">Calories </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 240</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/fries-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/fries-icon.png" class="hidden-lg">
                <span class="">Fries</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-pie-chart.png"></a>
                  <span class="text-sm">Portion: </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 2/3 Cup</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-green-calories.png"></a>
                  <span class="text-sm">Calories </span>
                </div>

                <div class="pull-right">
                  <span class="text-green "> 240</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-center">
              <a class="btn btn-red btn-more text-center" href="#" role="button">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                VIEW MORE
              </a>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane tab-pane-advice fade" id="advice">
        <div class="container">
          <div class="row row-form"></div>
          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/soccer-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/soccer-icon.png" class="hidden-lg">
                <span class="">Soccer</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-sm-cal.png"></a>
                  <span class="text-sm">Date: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue ">04/10/2015</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-place.png"></a>
                  <span class="text-sm">Place: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue "> Sarasota, FL</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/running-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/running-icon.png" class="hidden-lg">
                <span>Running</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-sm-cal.png"></a>
                  <span class="text-sm">Date: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue ">04/10/2015</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-place.png"></a>
                  <span class="text-sm">Place: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue "> Sarasota, FL</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/basketball-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/basketball-icon.png" class="hidden-lg">
                <span class="">Basketball</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-sm-cal.png"></a>
                  <span class="text-sm">Date: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue ">04/10/2015</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-place.png"></a>
                  <span class="text-sm">Place: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue "> Sarasota, FL</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/football-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/football-icon.png" class="hidden-lg">
                <span class="">Football</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-sm-cal.png"></a>
                  <span class="text-sm">Date: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue ">04/10/2015</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-place.png"></a>
                  <span class="text-sm">Place: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue "> Sarasota, FL</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/cycle-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/cycle-icon.png" class="hidden-lg">
                <span class="">Cycling</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-sm-cal.png"></a>
                  <span class="text-sm">Date: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue ">04/10/2015</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-place.png"></a>
                  <span class="text-sm">Place: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue "> Sarasota, FL</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-row">
            <div class="row text-center">
              <div class="visible-lg col-lg-1 text-right">
                <img alt="Icon" src="assets/img/football-icon.png">
              </div>

              <div class="col-sm-12 col-lg-2">
                <img alt="Icon" src="assets/img/football-icon.png" class="hidden-lg">
                <span class="">Football</span>
                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-sm-cal.png"></a>
                  <span class="text-sm">Date: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue ">04/10/2015</span>
                </div>

                <div class="nice-border"></div>
              </div>

              <div class="col-xs-12 col-lg-4">
                <div class="pull-left">
                  <a class="btn btn-flat" href="#" role="button"><img alt="Icon" src="assets/img/icon-blue-place.png"></a>
                  <span class="text-sm">Place: </span>
                </div>

                <div class="pull-right">
                  <span class="text-blue "> Sarasota, FL</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-center">
              <a class="btn btn-blue btn-more text-center" href="#" role="button">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                VIEW MORE
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid video video-bg-none">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Video Area</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="youtube-video">
              <div class="carousel slide" data-interval="false" data-ride="carousel" id="video-carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img alt="/content/images" class="img-responsive" src="assets/img/youtube-poster.png" width="100%">
                  </div>

                  <div class="item">
                    <img alt="/content/images" class="img-responsive" src="assets/img/youtube-poster.png" width="100%">
                  </div>

                  <div class="item">
                    <img alt="/content/images" class="img-responsive" src="assets/img/youtube-poster.png" width="100%">
                  </div>
                </div>

                <div class="carousel-controls left" data-slide="prev" data-target="#video-carousel" role="button">
                  <i class="fa fa-angle-left"></i>
                </div>

                <div class="carousel-controls right" data-slide="next" data-target="#video-carousel" role="button">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid latest-update">
    <div class="row">
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Latest Updates</h1>
            <p class="curent-time">NOW<span> 12:05</span></p>
            <img alt="Icon" src="assets/img/badge-ring.png"> <br>
            <a class="btn btn-blue btn-flat text-center" href="#" role="button">AFTER 6 HOURS</a>
          </div>
        </div>

        <ul class="timeline">
          <li>
            <div class="timeline-panel nutrition">
              <div class="timeline-heading">
                <div class="heading">Oceansize Tree</div>
                <span class="sub-heading">the conqueror</span>
                <img alt="Icon" class="pull-right"src="assets/img/slider-list-item-4.png">
              </div>

              <div class="timeline-img">
                <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
              </div>

              <div class="timeline-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="nice-border">nutrition</h1>
                    </div>

                    <div class="col-xs-12 text-center">
                      <img alt="Icon" src="assets/img/oatmeal-icon.png" class="">
                      <span class="name">Oatmeal</span>
                      <div class="nice-border"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text pull-left">portion</div>
                        <div class="value pull-right">2/3 Cup</div>
                      </div>

                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text pull-left">calories</div>
                        <div class="value pull-right">204</div>
                      </div>
                    </div>
                  </div>

                  <div class="nice-border"></div>

                  <div class="row text-center">
                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-heart" aria-hidden="true"></i><span class="num">27</span></a>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-share-alt" aria-hidden="true"></i><span class="num">3</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-panel activity">
              <div class="timeline-heading">
                <div class="heading">Oceansize Tree</div>
                <span class="sub-heading">the conqueror</span>
                <img alt="Icon" class="pull-right"src="assets/img/icon-tab-activity.png">
              </div>

              <div class="timeline-img">
                <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
              </div>

              <div class="timeline-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="nice-border">activity</h1>
                    </div>

                    <div class="col-xs-12 text-center">
                      <img alt="Icon" src="assets/img/soccer-icon.png" class="">
                      <span class="name">Soccer</span>
                      <div class="nice-border"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text pull-left">date</div>
                        <div class="value pull-right">04/10/2015</div>
                      </div>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text l2 pull-left">time <br> spent</div>
                        <div class="value pull-right">2:45:41</div>
                      </div>
                    </div>
                  </div>

                  <div class="nice-border"></div>

                  <div class="row text-center">
                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-heart" aria-hidden="true"></i><span class="num">27</span></a>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-share-alt" aria-hidden="true"></i><span class="num">3</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-panel advice">
              <div class="timeline-heading">
                <div class="heading">Oceansize Tree</div>
                <span class="sub-heading">the conqueror</span>
                <img alt="Icon" class="pull-right"src="assets/img/icon-tab-advice.png">
              </div>

              <div class="timeline-img">
                <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
              </div>

              <div class="timeline-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="nice-border">advice</h1>
                    </div>

                    <div class="col-xs-12 text-center">
                      <p class="text-advice">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>

                  <div class="nice-border"></div>

                  <div class="row text-center">
                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-heart" aria-hidden="true"></i><span class="num">27</span></a>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-share-alt" aria-hidden="true"></i><span class="num">3</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-panel activity">
              <div class="timeline-heading">
                <div class="heading">Oceansize Tree</div>
                <span class="sub-heading">the conqueror</span>
                <img alt="Icon" class="pull-right"src="assets/img/icon-tab-activity.png">
              </div>

              <div class="timeline-img">
                <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
              </div>

              <div class="timeline-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="nice-border">activity</h1>
                    </div>

                    <div class="col-xs-12 text-center">
                      <img alt="Icon" src="assets/img/soccer-icon.png" class="">
                      <span class="name">Soccer</span>
                      <div class="nice-border"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text pull-left">date</div>
                        <div class="value pull-right">04/10/2015</div>
                      </div>

                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text l2 pull-left">time <br> spent</div>
                        <div class="value pull-right">2:45:41</div>
                      </div>
                    </div>
                  </div>

                  <div class="nice-border"></div>

                  <div class="row text-center">
                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-heart" aria-hidden="true"></i><span class="num">27</span></a>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-share-alt" aria-hidden="true"></i><span class="num">3</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-panel nutrition">
              <div class="timeline-heading">
                <div class="heading">Oceansize Tree</div>
                <span class="sub-heading">the conqueror</span>
                <img alt="Icon" class="pull-right"src="assets/img/slider-list-item-4.png">
              </div>

              <div class="timeline-img">
                <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
              </div>

              <div class="timeline-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="nice-border">nutrition</h1>
                    </div>

                    <div class="col-xs-12 text-center">
                      <img alt="Icon" src="assets/img/oatmeal-icon.png" class="">
                      <span class="name">Oatmeal</span>
                      <div class="nice-border"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text pull-left">portion</div>
                        <div class="value pull-right">2/3 Cup</div>
                      </div>

                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="clearfix">
                        <div class="text pull-left">calories</div>
                        <div class="value pull-right">204</div>
                      </div>
                    </div>
                  </div>

                  <div class="nice-border"></div>

                  <div class="row text-center">
                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-heart" aria-hidden="true"></i><span class="num">27</span></a>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-share-alt" aria-hidden="true"></i><span class="num">3</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-panel advice">
              <div class="timeline-heading">
                <div class="heading">Oceansize Tree</div>
                <span class="sub-heading">the conqueror</span>
                <img alt="Icon" class="pull-right"src="assets/img/icon-tab-advice.png">
              </div>

              <div class="timeline-img">
                <img alt="Image" class="img-responsive" src="assets/img/avatar_bases/rabbit_female.png">
              </div>

              <div class="timeline-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="nice-border">advice</h1>
                    </div>

                    <div class="col-xs-12 text-center">
                      <p class="text-advice">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>

                  <div class="nice-border"></div>

                  <div class="row text-center">
                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-heart" aria-hidden="true"></i><span class="num">27</span></a>
                      <div class="nice-border vert"></div>
                    </div>

                    <div class="col-xs-6">
                      <a href="" class=""><i class="fa fa-share-alt" aria-hidden="true"></i><span class="num">3</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="clearfix" style="float: none;"></li>
        </ul>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-yellow text-center" href="#" role="button">VIEW MORE</a>
        </div>
      </div>
    </div>
  </div>
</main>
