<!-- HEADER -->
<header class="clearfix">
  <common-header></common-header>

  <!-- HEADER END -->
  <div class="container-fluid header-about-us">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>About Us</h1>
          </div>
        </div>
      </div>

      <div class="container container-bg-img">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-10 col-md-offset-4 col-lg-offset-2">
            <img class="img-responsive" src="assets/img/about-us-header-bg-1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="clearfix">
  <div class="container-fluid about-us-section-wide">
    <div class="row">
      <div class="container container-bg">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Prolific is a national non-profit organization that is dedicated and determined to helping change our youth’s overall health and well-being.</h1>
            <p class="text-center">We are committed to providing them with the tools, inspiration, education and knowledge that they need to create a bright future. How are we planning on doing that? By focusing on four major areas: nutrition, fitness, community and inspiration. We feel strongly that focusing in on and helping our youth in those four specific areas will produce incredible results and create healthy habits that will last a lifetime.</p>
          </div>
        </div>

        <div class="row row-ava">
          <div class="col-xs-5">
            <p class="text-right"><img alt="Avatar Image" class="img-responsive pull-right" src="assets/img/gamification-avatar-1.png" data-pin-nopin="true"></p>
          </div>

          <div class="col-xs-2"></div>

          <div class="col-xs-5">
            <p class="text-left"><img alt="Avatar Image" class="img-responsive pull-left" src="assets/img/gamification-avatar-2.png"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid about-us-section-half">
    <div class="row">
      <div class="col-xs-12 col-sm-6 img-bg">
        <div class="mentors-avatar">
          <img alt="Image" class="img-responsive" src="assets/img/mentors-avatar.png">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 bg">
        <div class="col-l">
          <h1 class="text-left">It’s no secret that Americans are currently experiencing a wide variety of health challenges.</h1>
          <p class="text-left">From obesity, to diabetes to an increase in children with autism, we are at a serious crossroads. We can’t just sit back and let this happen, Prolific feels a sense of urgency to help get our youth’s health back on track. Prolific is diving in and taking the lead to encourage and show children how important being healthy, fit and happy is to creating a successful life. We know this won’t happen overnight but with your help and your constant dedication, together we will be what our youth needs to turn things around for the better.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
      </div>
    </div>
  </div>

  <div class="container-fluid about-us-team">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>Prolific Team</h1>

            <div class="row">
              <div class="col-xs-12 col-sm-4 text-center">
                <img alt="Image Icon" class="mentors-icon" src="assets/img/avatar-owner.png" data-pin-nopin="true">
                <p>Drisan James</p>
                <span>CEO</span>
              </div>

              <div class="col-xs-12 col-sm-4 text-center">
                <img alt="Image Icon" class="mentors-icon" src="assets/img/avatar-owner.png" data-pin-nopin="true">
                <p>Ryan Smith</p>
                <span>CTO</span>
              </div>

              <div class="col-xs-12 col-sm-4 text-center">
                <img alt="Image Icon" class="mentors-icon" src="assets/img/avatar-owner.png" data-pin-nopin="true">
                <p>KC Driscoll</p>
                <span>CBO</span>
              </div>

              <div class="col-xs-12 col-sm-4 text-center">
                <img alt="Image Icon" class="mentors-icon" src="assets/img/avatar-owner.png" data-pin-nopin="true">
                <p>Rick Cota</p>
                <span>CIO</span>
              </div>

              <div class="col-xs-12 col-sm-4 text-center">
                <img alt="Image Icon" class="mentors-icon" src="assets/img/avatar-owner.png" data-pin-nopin="true">
                <p>Sabrina James</p>
                <span>COO</span>
              </div>

              <div class="col-xs-12 col-sm-4 text-center">
                <img alt="Image Icon" class="mentors-icon" src="assets/img/avatar-owner.png" data-pin-nopin="true">
                <p>Kate Harper</p>
                <span>MARKETING DIRECTOR</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
