:host {
  h1 {
    text-align: center;
  }

  .profile-edit-form {
    padding: 48px 157px 0;
    background: url(../../assets/img/just-a-laptop.png) no-repeat scroll left top;

    form {
      padding: 30px 0;
      background: url(../../assets/img/laptop-bg.jpg) no-repeat scroll left top;

      & > .row {
        padding: 0 40px;
      }

      .form-group {
        & + .form-group {
          margin-top: 10px;
        }

        &.password-control {
          text-align: center;

          .control-label {
            display: inline-block;
          }
        }

        .control-label {
          display: block;
          margin-bottom: 22px;
          color: #ffffff;
          text-align: center;
          font-size: 20.1px;
          font-family: 'Varela Round', 'varela_roundregular', sans-serif;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }
}
