<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><img src="assets/img/success-text.png" alt="Images" class="img-responsive" /></h1>
      <p class="text-center"><img src="assets/img/success-badge.png" alt="Images" class="img-responsive" /></p>

      <p class="text-center username">
        <span>
          <span>Your username is:</span>
          <span>{{ model.username }}</span>
        </span>

        <span>
          <span>You earned</span>
          <span>10</span>
          <span>points for completing the sign up process</span>
        </span>
      </p>
    </div>
  </div><!-- END ROW -->
</div>
