@import '../../config';

:host {
  display: block;
  background-color: rgba(239, 237, 237, 0.30);
  padding-bottom: 140px;
  padding-top: 77px;

  .latest-update-select {
    margin-bottom: 40px;
  }

  .update-box-img {
    position: relative;

    prolific-user-avatar {
      position: absolute;
      display: block;
      width: 93px;
      min-height: 140px;
      top: 7px;
      left: 136px;
    }
  }

  h1{
    color: #3e3e3e;
    font-size: 36px;
    @include font-varela-regular;
    margin-bottom: 70px;
    margin-top: 0;
    @include transition03s;
    @media (min-width: 768px){
      font-size: 44px;
    }
    @media (min-width: 768px){
      font-size: 52px;
    }
    @media (min-width: 768px){
      font-size: 60px;
    }
  }
  .update-box{
    background-color: #efefef;
    @include border5;
    margin-bottom: 30px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media (min-width: 420px){
      width: 370px;
    }
    @media (min-width: 768px){
      width: 100%;
    }
    h3{
      color: #262626;
      @include font-varela-regular;
      padding-right: 25px;
      padding-left: 25px;
      position: relative;
      margin-top: 0;
      margin-bottom: 30px;
      span{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 40px;

        &:nth-child(2){
          font-size: 14px;
          padding-top: 12px;
          text-transform: uppercase;
        }
      }
      img{
        position: absolute;
        right: 25px;
        top: -6px;
      }
    }
    .bottom-box{
      padding-left: 25px;
      padding-right: 25px;
      @media (max-width: 992px) {
        padding-left: 10px;
        padding-right: 10px;
      }
      h1{
        border-bottom: 3px dotted transparent;
        color: #262626;
        font-size: 36px;
        @include font-varela-regular;
        margin-bottom: 13px;
        margin-top: 22px;
        padding-bottom: 20px;
        text-transform: uppercase;
        @include transition03s;
        @media (min-width: 768px){
          font-size: 40px;
        }
        @media (min-width: 768px){
          font-size: 42px;
        }
        @media (min-width: 768px){
          font-size: 48px;
        }
        @media (max-width: 1200px) {
          font-size: 35px;
        }
      }
      h3{
        border-bottom: 3px dotted transparent;
        margin-bottom: 7px;
        padding-bottom: 20px;
        span{
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          img{
            position: relative;
            left: inherit;
            right: inherit;
            top: inherit;
            bottom: inherit;
            margin-right: 10px;
          }
        }
      }
      p{
        &.update-one{
          border-bottom: 3px dotted transparent;
          padding-bottom: 7px;
          margin-bottom: 6px;
          width: 100%;
          &:after,
          &:before{
            @include clear-both;
          }
          span{
            display: inline-block;
            width: 50%;
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            &:not(:last-child){
              border-right: 3px dotted transparent;
            }
            span{
              width: auto;
              padding-left: 0;
              padding-right: 0;
              @media (max-width: 1200px) {
                display: block;
                float: none;
                max-width: none;
                text-align: center;
              }
              &:not(:last-child){
                border: none;
              }
              &:first-child{
                position: relative;
                top: 4px;
                color: #a8be23;
                float: left;
                font-size: 14px;
                @include font-varela-regular;
                max-width: 65%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                @media (max-width: 1200px) {
                  display: block;
                  float: none;
                  max-width: none;
                  text-align: center;
                }
              }
              &:last-child{
                color: #262626;
                float: right;
                font-size: 18px;
                @include font-varela-regular;
                max-width: 56%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                @media (max-width: 1200px) {
                  display: block;
                  float: none;
                  max-width: none;
                  text-align: center;
                }
              }
            }
          }
        }
        &.update-two{
          margin-bottom: 0;
          width: 100%;
          &:after,
          &:before{
            @include clear-both;
          }
          span{
            &:not(:last-child){
              border-right: 3px dotted transparent;
            }

            text-align: center;
            display: inline-block;
            float: left;
            padding-left: 5px;
            padding-right: 5px;
            width: 33.3333%;
            a{
              color: #262626;
              font-size: 20px;
              opacity: 1;
              display: block;
              @media (max-width: 1200px) {
                font-size: 16px;
              }
              i{
                color: #262626;
                margin-right: 10px;
                @media (max-width: 992px) {
                  display: block;
                  margin-right: 0;
                }
              }
              &:hover,
              &:focus{
                opacity: 0.8;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &.nutrition{
      background-color: #eefad1;
      h3{
        span{
          &:nth-child(2){
            color: #a8be23;
          }
        }
      }
      .bottom-box{
        h1{
          color: #a8be23;
          border-bottom-color: #a6bc22;
        }
        h3{
          border-bottom-color: #a6bc22;
        }
        p{
          &.update-one{
            border-bottom-color: #a6bc22;
            span{
              &:not(:last-child){
                border-right-color: #a6bc22;
              }
              span{

                &:first-child{
                  color: #a8be23;
                }
              }
            }
          }
          &.update-two{
            span{
              &:not(:last-child){
                border-right-color: #a8be23;
              }
              a{
                i{
                  color: #a8be23;
                }
              }
            }
          }
        }
      }
    }
    &.activity{
      background-color: #f7e6e8;
      h3{
        span{
          &:nth-child(2){
            color: #ce3242;
          }
        }
      }
      .bottom-box{
        h1{
          color: #ce3242;
          border-bottom-color: #ce3242;
        }
        h3{
          border-bottom-color: #ce3242;
        }
        p{
          &.update-one{
            border-bottom-color: #ce3242;
            span{
              &:not(:last-child){
                border-right-color: #ce3242;
              }
              span{

                &:first-child{
                  color: #ce3242;
                }
              }
            }
          }
          &.update-two{
            span{
              &:not(:last-child){
                border-right-color: #ce3242;
              }
              a{
                i{
                  color: #ce3242;
                }
              }
            }
          }
        }
      }
    }
    &.events{
      background-color: #e5f7f7;
      h3{
        span{
          &:nth-child(2){
            color: #00aeaf;
          }
        }
      }
      .bottom-box{
        h1{
          color: #ce3242;
          border-bottom-color: #00aeaf;
        }
        h3{
          border-bottom-color: #00aeaf;
        }
        p{
          &.update-one{
            border-bottom-color: #00aeaf;
            span{
              &:not(:last-child){
                border-right-color: #00aeaf;
              }
              span{

                &:first-child{
                  color: #00aeaf;
                }
              }
            }
          }
          &.update-two{
            span{
              &:not(:last-child){
                border-right-color: #00aeaf;
              }
              a{
                i{
                  color: #00aeaf;
                }
              }
            }
          }
        }
      }
    }
  }
  a{
    &.load-more{
      background-color: rgba(288, 199, 8, 1);
      border: none;
      border-bottom: 3px solid #d88400;
      @include border5;
      color: #262626;
      display: inline-block;
      font-size: 20px;
      @include font-varela-regular;
      height: 63px;
      line-height: 1;
      margin-top: 5px;
      padding-top: 22px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      width: 170px;
      @include bg-transition;
      &:hover,
      &:focus{
        background-color: rgba(288, 199, 8, 0.8);
        text-decoration: none;
      }
    }
  }
}
