<!-- HEADER -->
<header class="clearfix">
  <common-header></common-header>

  <div class="container-fluid header-slider">
    <div class="row">
      <div id="prolific-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators hidden">
          <li data-target="#prolific-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#prolific-carousel" data-slide-to="1"></li>
          <li data-target="#prolific-carousel" data-slide-to="2"></li>
        </ol><!-- Indicators -->
        <div class="carousel-inner" role="listbox">
          <div class="clearfix item active slider-one">
            <div class="container">
              <div class="row">
                <div class="avatar-image col-md-offset-6">
                  <img src="assets/img/slider-one-avatar.png" class="img-responsive" alt="Avatar Image" />
                </div>
                <div class="col-md-6 col-xs-12 slide-cont">
                  <h1>A Healthy Living You Deserve</h1>
                  <p>Prolific is about giving our communities a healthy living they deserve</p>
                  <p>
                    <span class="with-facebook"><a href="/registration.html"><span><i class="fa fa-facebook"></i></span><span>Sign up with Facebook</span></a></span>
                    <span class="with-email"><a href="/registration.html">Sign up with Email</a></span>
                    <span class="with-account">Already have an account? <a onclick="OpenLogin()" href="#">Login</a></span>
                  </p>
                </div>
              </div>
            </div>
          </div><!-- ITEMS -->
          <div class="clearfix item slider-two">
            <div class="container">
              <div class="row">
                <div class="avatar-image col-md-offset-6">
                  <img src="assets/img/slider-two-avatar.png" class="img-responsive" alt="Avatar Image" />
                </div>
                <div class="col-md-6 col-xs-12 slide-cont">
                  <h1>Accomplish Your Nutrition Goals</h1>
                  <ul class="list-unstyled">
                    <li><img src="assets/img/slider-list-item-1.png" alt="Icon" />Think in color! Add as much color to your plate as you can.</li>
                    <li><img src="assets/img/slider-list-item-2.png" alt="Icon" />Stop eating refined sugar. It is detrimental to your health and highly addictive.</li>
                    <li><img src="assets/img/slider-list-item-3.png" alt="Icon" />Plan ahead of time and keep healthy choices around you to limit temptation.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- ITEMS -->
          <div class="clearfix item slider-three">
            <div class="container">
              <div class="row">
                <div class="avatar-image col-md-offset-2">
                  <img src="assets/img/slider-three-avatar.png" class="img-responsive" alt="Avatar Image" />
                </div>
                <div class="col-md-6 col-xs-12 slide-cont">
                  <h1>Increase<br />Physical Activity</h1>
                  <ul class="list-unstyled">
                    <li><img src="assets/img/slider-list-item-4.png" alt="Icon" />Have a strengthened immune system</li>
                    <li><img src="assets/img/slider-list-item-5.png" alt="Icon" />Have higher self-esteem</li>
                    <li><img src="assets/img/slider-list-item-6.png" alt="Icon" />Are much more attentive</li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- ITEMS -->
        </div><!-- WRAPPER FOR SLIDER -->
        <div class="carousel-controls left" role="button" data-slide="prev" data-target="#prolific-carousel">
          <i class="fa fa-angle-left"></i>
        </div><!-- CONTROLS LEFT -->
        <div class="carousel-controls right" role="button" data-slide="next" data-target="#prolific-carousel">
          <i class="fa fa-angle-right"></i>
        </div><!-- CONTROLS RIGHT -->
      </div>
    </div>
  </div><!-- HEADER SLIDER END -->
</header>
<!-- HEADER END -->
<!-- CONTENT -->
<main class="clearfix">
  <div class="container-fluid donate">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-7">
            <p>When you make a donation to Prolific, you are supporting our mission to help fight childhood obesity.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CPTC5SMBAPLTJ" target="_blank"><span>Donate to Prolific</span></a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- CTA donate end -->
  <div class="container-fluid how-it-work">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Prolific's Healthy Community</h1>
            <p class="text-center">Check it out! See how it works!</p>
          </div><!-- TITLE WITH TEXT -->
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="clearfix text-center step-box">
              <img class="img-responsive" src="assets/img/step-1.png" alt="Step Icon Big" />
              <p>Step 1</p>
              <h3>Select a Username</h3>
              <img class="arrow-step-right" src="assets/img/step-arrow-right.png" alt="Arrow Right" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="clearfix text-center step-box">
              <img class="img-responsive" src="assets/img/step-2.png" alt="Step Icon Big" />
              <p>Step 2</p>
              <h3>Choose an Avatar</h3>
              <img class="arrow-step-right" src="assets/img/step-arrow-right.png" alt="Arrow Right" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="clearfix text-center step-box">
              <img class="img-responsive" src="assets/img/step-3.png" alt="Step Icon Big" />
              <p>Step 3</p>
              <h3>Log In to Your Profile</h3>
              <img class="arrow-step-right" src="assets/img/step-arrow-right.png" alt="Arrow Right" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="clearfix text-center step-box">
              <img class="img-responsive" src="assets/img/step-4.png" alt="Step Icon Big" />
              <p>Step 4</p>
              <h3>Become Prolific</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- HOW IT WORK END -->
  <div class="container-fluid gamification">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Gamification</h1>
            <p class="text-center">Gain experience and level up your account by signing in and logging your activiy,<br />keeping track of your nutrition and more!</p>
          </div><!-- TITLE WITH TEXT -->
        </div>
        <div class="row">
          <div class="text-center gamification-box">
            <img src="assets/img/gamification-signup.png" class="img-responsive" alt="Gig Icon" />
            <p>Sign Up</p>
            <div class="linking-bar"></div>
          </div>
          <div class="text-center gamification-box">
            <img src="assets/img/gamification-workout.png" class="img-responsive" alt="Gig Icon" />
            <p>Workout</p>
            <div class="linking-bar"></div>
          </div>
          <div class="text-center gamification-box">
            <img src="assets/img/gamification-earn.png" class="img-responsive" alt="Gig Icon" />
            <p>Earn Points</p>
            <div class="linking-bar"></div>
          </div>
          <div class="text-center gamification-box">
            <img src="assets/img/gamification-cashin.png" class="img-responsive" alt="Gig Icon" />
            <p>Cash In</p>
            <div class="linking-bar"></div>
          </div>
          <div class="text-center gamification-box">
            <img src="assets/img/gamification-customize.png" class="img-responsive" alt="Gig Icon" />
            <p>Customize</p>
          </div>
        </div>
        <div class="row gamification-button">
          <div class="col-xs-12 col-sm-3">
            <p class="text-right"><img class="img-responsive" src="assets/img/gamification-avatar-1.png" alt="Avatar Image" /></p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p class="text-center"><a href="/registration.html">Become Prolific</a></p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <p class="text-left"><img class="img-responsive" src="assets/img/gamification-avatar-2.png" alt="Avatar Image" /></p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- GAMIFICATION END -->
  <div class="container-fluid mentors">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="mentors-avatar">
            <img src="assets/img/mentors-avatar.png" class="img-responsive" alt="Image" />
          </div>
          <div class="col-xs-12 col-md-6 col-lg-5 pull-right mentors-cont">
            <h1>MENTORS</h1>
              <p>Have a former athlete or community professional you look up to? Sign in and follow them on Prolific to learn how they have used healthy living to become successful!</p>
              <p>Want to become a Prolific Mentor? It is as easy as following the steps below!</p>
            <ul class="clearfix list-unstyled">
              <li><img class="mentors-icon" alt="Image Icon" src="assets/img/mentors-submit-app.png" /><span></span>Submit an Application</li>
              <li><img class="mentors-icon" alt="Image Icon" src="assets/img/mentors-gain-approval.png" /><span></span>Gain Approval</li>
              <li><img class="mentors-icon" alt="Image Icon" src="assets/img/mentors-help.png" />Help Our Community of Kids</li>
            </ul>
            <p class="text-left"><a href="mailto:info@myprolific.org">Become a Mentor</a></p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- MENTORS -->
  <div class="container-fluid video">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">our videos</h1>
            <p class="text-center">Check out what Prolific has done so far!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="youtube-video">
              <div id="video-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="assets/img/youtube-poster.png" alt="Images" class="img-responsive" width="100%" /><!-- change image to you tube link -->
                  </div>
                  <div class="item">
                    <img src="assets/img/youtube-poster.png" alt="Images" class="img-responsive" width="100%" /><!-- change image to you tube link -->
                  </div>
                  <div class="item">
                    <img src="assets/img/youtube-poster.png" alt="Images" class="img-responsive" width="100%" /><!-- change image to you tube link -->
                  </div>
                </div>
                <div class="carousel-controls left" data-slide="prev" role="button" data-target="#video-carousel">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="carousel-controls right" data-target="#video-carousel" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
            </div><!-- video will run with frame on desktop -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- VIDEO -->
  <div class="container-fluid newsletter-localevents">
    <div class="row">
      <div class="container">
        <div class="row">
          <local-events></local-events>
          <home-subscription></home-subscription>
        </div>
      </div>
    </div>
  </div><!-- LOCAL EVENTS AND NEWS LETTER END -->
</main><!-- MAIN END -->
<!-- CONTENT END -->
